.full-modal .modal-dialog {
    max-width: 1000px;
    margin: auto;
}

.modal-header, .modal-body, .modal-footer {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: white;
}

.modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 80vh;
}

@media (max-width: 1024px) {
    .full-modal .modal-dialog {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .full-modal .modal-dialog {
        max-width: 95%;
    }
}

@media (max-width: 576px) {
    .full-modal .modal-dialog {
        max-width: 100%;
    }
}
